@import "_common.scss";

//@font-face {
//  font-family: "Roboto";
//  font-weight: normal;
//  src: url("../fonts/Roboto-Regular.ttf");
//}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/Roboto-Regular.eot');
  src: local('Roboto Regular'), local('Roboto-Regular'),
  url('../fonts/Roboto-Regular.eot') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/Roboto-Regular.svg') format('svg');
}

//@font-face {
//  font-family: Roboto_bold;
//  //font-weight: normal;
//  src: url("../fonts/Roboto-Bold.ttf");
//}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 0;
}

$mau-xanh: #40b5e6;
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 767px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

.relative {
  position: relative;
}
.tab{
  @media (min-width: 992px){
    display: none;
  }
  @media (max-width: 768px){
    display: block!important;
  }
}
#search_form {
  position: relative;

  #keyword {
    border-radius: 20px;
    height: 30px;
    padding-right: 60px;
    outline: none;
    background-color: #eeeeee;
    border: none;
    font-family: Roboto;
    padding-left: 15px;

    //background: #eeeeee url('/images/logos/search.png') left 205px top 7px no-repeat;
  }

  .search2 {
    position: absolute;
    top: 5px;
    right: 12px;
  }
}

.module_home {
  #search_form {
    #keyword {
      border-radius: 20px;
      height: 30px;
      padding-right: 55px;
      outline: none;
      background-color: #eeeeee;
      border: none;
      font-family: Roboto;
      padding-left: 20px;
      //background: #eeeeee url('/images/logos/search.png') right 10px top 7px no-repeat;
      @media (min-width: 1023px) and (max-width: 1199px) {
        font-size: 13px;
      }
    }
  }
}

@media all and (min-width: 1023px) {
  .collapse {
    display: block !important;
  }
}

.module_home {
  .wpb_wrapper {
    text-align: center;

    h2 {
      margin-top: 40px;
      @media all and (max-width: 767px) {
        line-height: 0.9;
      }
      span {
        font-size: 33px;

        color: #ffffff;
        text-transform: uppercase;
        @media all and (max-width: 767px) {
          font-size: 22px;
          line-height: unset;
        }
      }
    }

    h3 {
      margin-top: 5px;
      font-size: 16px;
      color: #ffffff;
      @media all and (max-width: 767px) {
        padding: 0;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 768px) {
  .module_home {
    //background-image: url('/images/bg_home.jpg');
    //background-position: bottom center;
    .vc_empty_space {
      display: none;
    }
  }
}

.flr {
  float: right;
}

.bg input {
  background: #eeeeee url('../img/logos/search.png') right 15px top 7px no-repeat;
  padding: 5px 65px 5px 10px;
  color: #777777;
  font-size: 14px;
  border-radius: 15px;
  border: none;
  margin-top: 8px;
  outline: none;
}

.breadcrum {
  color: $mau-xanh;
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

section .body .cc {
  margin: 0px;
  font-size: 14px;
  color: #777777;
}

.abc {
  display: none;
  padding-left: 20px;
}

#boder {
  //border-bottom-style: solid;
  //border-bottom-color: #40b5e6;
  //border-bottom-width: 2px;
  position: relative;
  // overflow: auto;
}

.bot {

  height: 2px;
  width: 100%;
  background-color: #40b5e6;
  margin-top: -15px;
  position: fixed;
  z-index: 1;
  @media all and (max-width: 768px) {
    margin-top: -25px;
  }
}

.headerbotom {
  position: fixed;
  z-index: 1;
  top: 70px;
  @media (max-width: 1199px) and (min-width: 1023px) {
    img {
      width: 71%;
    }
  }
}

.manu {
  .dropdown-menu {
    background-color: #ffffff;
    font-size: 14px;
    color: #333333;
    position: absolute;
    top: 100%;
    left: 10px;

    .dropdown-submenu {
      background-color: #ffffff;

      a {
        font-size: 14px;
        color: #333333;
        //background: url('/images/logos/a21.png') left 13px top 11px no-repeat;
      }

      &:hover {
        background-color: #ffffff;

        a {
          color: #01a6e6;
          //background: url('/images/logos/a5.png') left 13px top 11px no-repeat;

        }
      }
    }
  }
}

.scrollToTop {
  display: none;
  position: fixed;
  bottom: -60px;
  right: 20px;
  width: 60px;
  height: 54px;
  background: url("../images/to-top.png") no-repeat center;
  cursor: pointer;
  z-index: 99999;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background-position: 15px -1px;
}

.scrollToTop.active {
  bottom: 200px;
  @media all and (max-width: 767px) {
    bottom: 0;

  }
}

.module_contents, .module_products, .module_services, .module_news, .module_contact, .module_images, .module_search {
  .bg_home {
    display: none;
  }
  .affix {
    background-color: white;
    z-index: 999999;
    box-shadow: 0 2px 4px 0 transparent, 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

    .navtotal {
      max-height: 52px !important;

      .logo {
        padding: 5px 0 5px !important;
        width: 85%;
        transition: .8s;

      }

      .manu {
        padding: 15px 0 13px 60px !important;
        transition: .8s;

      }
      .pd {
        @media all and (max-width: 767px) {
          padding-top: 8px !important;
          transition: .8s;
        }
      }
      .timkiem {
        margin-top: 12px !important;
        @media all and (max-width: 767px) {
          display: none !important;
        }
      }
    }

  }

  @media all and (max-width: 767px) {
    .content {
      margin-top: 0 !important;
    }
  }

  .pd {
    padding: 11px 5px 0 0;
    float: right;
    width: 8%;
    border-left: 1px solid #40b5e6;
    height: 60px;

    .header_menu {
      text-align: right;
      margin-right: 0 !important;
      font-size: 15px;
      font-weight: bold;
      color: #fff;
      line-height: 40px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: auto;
      height: 40px;

      a {
        display: inline-block;
        background: unset;
        height: 37px;
        width: 30px;
        color: #40b5e6;
        font-size: 22px;
        cursor: pointer;

        i {
          margin: 5px;
        }
      }
    }
  }
}

.module_home {
  .affix {

    background-color: #2aaee4cf;
    z-index: 999999;
    //border-bottom: #2aaee4 solid 2px;
    width: 100%;
    box-shadow: 0 2px 4px 0 transparent, 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

    .navtotal {
      max-height: 52px !important;

      .logo {
        padding: 5px 0 5px !important;
        width: 85%;
        transition: .8s;

      }

      .pd {
        @media all and (max-width: 767px) {
          padding-top: 8px !important;
          transition: .8s;
        }
      }

      .manu {
        padding: 15px 0 13px 60px !important;
        transition: .8s;

      }

      .timkiem {
        margin-top: 12px !important;
        @media all and (max-width: 767px) {
          display: none !important;
        }
      }
    }
  }
}

.manu > ul > li > a {
  text-transform: capitalize;
  color: #333333;
  font-size: 18px;
  text-decoration: none;
}

.manu > ul > li > a:hover {
  color: #01a6e6;
}

#navmenu {
  margin: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  max-height: 70px;
  @media all and (max-width: 767px) {
    max-height: 100%;
  }
}

.cleafix {
  overflow: hidden;
  clear: both;
}

#navmenu .logo {
  float: left;
  padding: 6px 0;
  max-width: 150px;
  @media (max-width: 1199px) and (min-width: 1023px) {
    width: 90%;
  }

}

.module_home {
  #navmenu {
    background-color: #27ade4;
    box-shadow: 0px -7px 30px #888888;

  }
}

.module_home .nav-main .menu_hed .nav .nav-item .nav-link {
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.manu > ul {
  float: left;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 30px;
}

.manu {
  padding: 20px 0;
  width: auto;
  display: inline-block;
  padding-left: 15px !important;
  @media (max-width: 1199px) and (min-width: 1023px) {
    width: auto !important;
    padding-left: 25px;
  }
}

.manu > ul > li {
  float: left;
  list-style: none;
  margin: 5px;
  padding: 5px 15px;
}

.module_home {
  .manu {
    padding-left: 75px;
    @media (max-width: 1199px) and (min-width: 1023px) {
      padding-left: 18px;
      width: auto !important;
    }
  }
}

//nút button mở menu
.flr1 {
  position: absolute;
  top: 20px;
  right: 0;
  @media (max-width: 768px) {
    right: 12%;
  }
}

.module_home {
  .pd {
    padding: 11px 5px 0 0;
    float: right;
    width: 8%;
    border-left: 1px solid #fff;
    height: 60px;

    .header_menu {
      text-align: right;
      margin-right: 0 !important;
      font-size: 15px;
      font-weight: bold;
      color: #fff;
      line-height: 40px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: auto;
      height: 40px;

      a {
        display: inline-block;
        background: unset;
        height: 37px;
        width: 30px;
        color: #fff;
        font-size: 22px;
        cursor: pointer;

        i {
          margin: 5px;
        }
      }
    }
  }
}

//hết nút button
.search_mobile {
  display: none;
}

.language {
  display: inline-block;
}

#navmenu .timkiem {
  a {
    display: block;
  }

  float: right;
  margin-top: 20px;
  display: inline-block;
  position: absolute;
  right: 3%;
}

.imgcc {
  margin-left: 5px;
  margin-top: 6px;
}

.lang {
  display: none;
}

.footer .total {
  padding-top: 35px;
  @media all and (max-width: 768px) {
    padding-top: 25px;
  }
}

.footer {
  .congtycic > p {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.footer {
  .text8 {
    margin-top: 35px;
  }
}

.footer {
  clear: both;
  // background: #f4f4f4 url('../img/logos/nui.png') center no-repeat;
  overflow: auto;
  margin-top: 40px;
}

.messenger {
  position: fixed;
  bottom: 200px;
  left: 10px;

  img {
    width: 70%;
  }
}

.thongtin {
  display: inline-block;

  .name {
    font-size: 20px;
    text-transform: uppercase;
  }
}

.rightfooter {
  width: 50%;
  float: right
}

.menufooter {
  width: 50%;
  float: left;
}

.menufooter ul li a {
  text-transform: capitalize;
  color: #00a7e6;
  font-size: 14px;
  text-decoration: none;
}

.menufooter ul li {
  list-style: none;
  margin: 10px 0;
}

.menufooter .name {
  font-size: 20px;
  padding-left: 30px;
  margin-bottom: 0px;
  margin-top: -5px;
}

.facebook .name {
  font-size: 20px;
  margin-top: -5px;
}

.menufooter ul {
  padding-left: 30px;
}

.menufooter ul li a:hover {
  color: black;
}

.image {
  margin: 2px 0px;
}

.back {
  padding-left: 10px;
  background: url('../img/logos/a5.png') left 0px top 5px no-repeat;
}

.facebook {
  width: 50%;
  float: left;
}

.facebook div img {
  margin-top: 23px;
}

#footerbottom {
  clear: both;
  background: #f4f4f4 url('/img/logos/a6.png') no-repeat center;
  display: block;
  padding-top: 49px;
}

.contenttt {
  margin-top: 85px;
}

.a {
  display: inline-block;
  float: left;
  font-size: 15px;
  color: #ffffff;
  margin-top: 10px
}

.b {
  display: inline-block;
  padding-left: 10px;
  padding-top: 4px;
}

#myCarousel {
  margin-top: 70px;
}

@media all and (max-width: 1024px) {
  .manu {
    width: 50%;
  }
  #navmenu ul li a {
    font-size: 14px;
  }
  #footerbottom {
    background: #f4f4f4 url(/img/logos/a6.png) right -115px top 3px no-repeat;
  }
}

//bản mobile < 767px
@media all and (max-width: 768px) {
  .search_mobile {
    display: inline-block;
    position: absolute;
    top: 35%;
    right: 18%;
    .searchh {
      padding: 10px;
      i {
        font-size: 20px;
        color: white;
      }
    }
  }
  #myCarousel {
    margin-top: 60px;
  }
  #boder {
    max-height: 100%;
  }
  .content {
    margin-top: 30px;

    .text2 {
      .itemtd {
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.18) !important;
        background-image: none !important;
      }
    }
  }
  .text1 > .container > p {
    font-size: 25px !important;
  }
  .text3_left > h2 {
    font-size: 25px !important;
  }
  .content > .text4 > .container > p {
    font-size: 25px !important;
  }
  .content > .text6 > .container > .tintuc > p {
    font-size: 25px !important;
  }
  .content > #maud > .container > div > p {
    font-size: 25px !important;
  }
  .text5 .owl-nav {
    position: absolute;
    top: 20% !important;
    left: 0;
    right: 0;
  }
  .text5 .owl-nav .owl-next {
    right: 0px !important;
  }
  .text5 .owl-nav .owl-prev {
    left: -23px !important;

  }
  .text7 .owl-nav {
    position: absolute;
    top: 4% !important;
    left: 0;
    right: 0;
  }
  .text7 .partner .owl-next {
    top: 4% !important;
    right: -11px !important;
  }
  .text7 .owl-nav .owl-prev {
    top: 4% !important;
    left: -35px !important;
  }
  .container {
    //width: 100%;
    display: block;
    padding-right: 15px;
    padding-left: 15px;

  }
  .navtotal {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  #navmenu .timkiem {
    float: none;
    margin-top: 0;
    width: 100%;
    right: 0;
    position: absolute;
    top: 90%;
    background-color: #eee;
    @media (max-width: 768px) and (min-width: 500px){
      width: 50%;
    }
  }

  #navmenu .manu {
    display: none;
  }
  .logo {
    width: auto !important;
    height: 65px;
  }
  .logo2 {
    width: auto;
  }
  #navmenu {
    margin: 0px;
    height: 60px;
  }
  .manu {
    width: 100%;
    padding: 1px 10px;
  }
  #navmenu .manu ul {
    width: 100%;
    padding: 5px;
    margin: 5px 0 0 0;
  }
  #navmenu .manu ul li {
    margin: 1px;
    padding: 5px;
  }
  .timkiem input {
    padding: 3px 6px;
    font-size: 12px;
    border-radius: unset !important;
    margin-top: 0px;
    width: 100%;
    border: 1px solid #ccc !important;
    background: #eeeeee url(../image/search.png) right 5px top 2px no-repeat;
    background-color: #ffffff !important;
  }
  .timkiem {

    .flr {
      //display: inline-block;
      float: none;

      #search_form {
        position: relative;

        input {
          width: 100%;
          border-radius: unset;
        }

        .search2 {
          position: absolute;
          top: 5px;
          right: 8px;
        }
      }
    }

    .fll {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      padding: 10px 0;
    }
    .in {
      //display: block!important;
    }

    .flr1 {
      float: right;
      position: absolute;
      top: 4px;
      right: -42px;
    }
  }
  #navmenu .mkdf-row-grid-section-wrapper .mkdf-row-grid-section {
    width: auto !important;
  }
  .mkdf-btn-solid {
    margin: 0 !important;
    padding: 0 15px 0 15px !important;
    background-image: none !important;

    .mkdf-btn-text {
      font-size: 13px !important;
    }
  }
  .libraries-carousel {
    margin-left: 16px !important;
  }
  .imgcc {
    margin-top: 2px;
    display: none;
  }

  .lang {
    display: block;
    font-size: 17px;
    color: #fff;
    margin: 0;
  }
  .headerbotom {
    width: 100%;
    top: 62px;
  }
  #anh {
    width: 35%;
    font-size: 100%;
    display: block;
    height: 15px;
  }
  section .breadcrum {
    font-size: 28px;
    padding: 0 0 10px 0px;
    margin-top: 0;
    margin-bottom: 0;
  }
  section .body .cc {
    margin: 0 0 0 10px;
    font-size: 14px;
    color: #777777;
  }
  .menufooter ul {
    padding-left: 0;
  }
  .thongtin {
    .name {
      font-size: 16px;
    }

    width: 100%;
    margin: 0;
  }
  .total {
    margin: 0 5px;

  }
  .messenger {
    .messenger1 {
      img {
        height: 50px;
      }
    }
  }
  .footer {
    overflow: auto;
    margin-top: 10px;
  }
  .contact p {
    margin: 0;
  }
  .menufooter .name {
    font-size: 15px;
    padding-left: 0px;
    clear: both;
    padding-top: 15px;
  }
  .rightfooter {
    width: 100%;
  }
  .menufooter {
    width: 100%;
    float: none;
  }
  .facebook .name {
    font-size: 15px;
    padding-left: 0px;
    clear: both;
    padding-top: 10px;
  }
  .facebook {
    width: 100%;
    float: none;
    padding-left: 0px;
  }
  #footerbottom {
    display: block;
    padding-top: 0;
    background: #00a7e6;
  }
  .bb {
    padding-left: 135px;
  }
  .a {
    margin-left: 8px;
    margin-bottom: 10px;
  }
  .footer .text9 {
    background-color: #2aaee4 !important;
    padding-top: 20px !important;
    background-image: none !important;

    .icon10 {
      display: block;
      text-align: center;

      a {
        margin-left: 0;
      }
    }
  }
}

//end mobile 767px

.label_error {
  font-size: 14px;
  color: red;
  margin-top: 2px;
}

.module_home .bg_home {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  max-height: 100%;
  @media (max-width: 768px) {
    display: none;
  }
}

#boder .affix-top {
  position: relative;

}

.title_comp {
  display: none !important;
}

@media (max-width: 768px) {
  .mm-wrapper_opened .module_home #navmenu {
    top: -60px;
  }
}

@media (max-width: 768px) {
  .module_contents, .module_products, .module_services, .module_news, .module_contact, .module_images, .module_search {
    .search_mobile {
      .searchh {
        i {
          color: #40b5e6;
        }
      }
    }
    .flr1 {
      a {
        .lang {
          color: #40b5e6;
        }
      }
    }
    .timkiem {
      top: 93% !important;
    }
  }
}
#mySidenav{
  // display: none !important;
}



