/****** COMMON ***********/
*,
*:after,
*:before {
  box-sizing: border-box;
}

.img-responsive {
  height: auto;
  max-width: 100%;
  text-align: center;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row:after, .row:before,
.row-content:after,
.row-content:before,
.row-item:after,
.row-item:before {
  content: " ";
  display: table;
}
.row:after,
.row-content:after,
.row-item:after {
  clear: both;
}

/****** end.COMMON ***********/
#msgModal {
  /* The Modal (background) */
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* Modal Content */
  /* Add Animation */
  /* The Close Button */
}
#msgModal .msgmodal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@media (min-width: 768px) {
  #msgModal .msgmodal-content {
    width: 420px;
  }
}
@media (max-width: 767px) {
  #msgModal .msgmodal-content {
    max-width: 100%;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
#msgModal .close {
  color: white;
  float: right;
  font-size: 36px;
  font-weight: bold;
}
#msgModal h5 {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
#msgModal .close:focus,
#msgModal .close:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
#msgModal .msgmodal-header {
  padding: 2px 10px 2px 16px;
  background-color: #116bb3;
  line-height: 36px;
  color: white;
}
#msgModal .msgmodal-body {
  padding: 15px 16px 30px;
  line-height: 20px;
  text-align: center;
}
#msgModal .msgmodal-body .bt-modals {
  background-color: #e83e28;
  margin-right: 10px;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block;
  margin-top: 20px;
}
#msgModal .msgmodal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
#msgModal svg {
  width: 100px;
  display: block;
  margin: 40px auto;
}
#msgModal .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
#msgModal .path.circle {
  animation: dash 0.9s ease-in-out;
}
#msgModal .path.line {
  stroke-dashoffset: 1000;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
#msgModal .path.check {
  stroke-dashoffset: -100;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

/* alert */
.alert {
  padding: 10px;
  background-color: #f44336;
  color: white;
  display: block;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 10px;
  margin-top: 10px;
  position: fixed;
  z-index: 999999;
  width: 300px;
  top: 0;
  right: 10px;
  border-radius: 4px;
  transform: translateY(-20px) scaleY(0.9);
  transition: transform cubic-bezier(0.35, 1.65, 0.65, 1.1) 250ms, opacity ease 250ms;
}

.alert.success {
  background-color: #4CAF50;
}

.alert.info {
  background-color: #2196F3;
}

.alert.warning {
  background-color: #ff9800;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}

#dialogoverlay {
  display: none;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 9999;
}

#dialogbox {
  display: none;
  position: fixed;
  border: 5px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  width: 320px;
  z-index: 9999;
  font-size: 16px;
}

#dialogbox > div > #dialogboxhead {
  background: #116bb3;
  font-size: 19px;
  padding: 10px;
  color: #fff;
}

#dialogbox > div > #dialogboxbody {
  padding: 25px 10px;
}

#dialogbox > div > #dialogboxfoot {
  padding: 10px;
  text-align: center;
}

#dialogbox > div > #dialogboxfoot > button {
  color: #FFF;
  background-color: #116bb3;
  border-radius: 3px;
  padding: 5px 25px;
}

.preloader {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden !important;
  right: 0;
  z-index: 999999;
  text-align: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2196F3;
  width: 120px;
  margin: 200px auto;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  z-index: 100;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInRight {
  animation-name: fadeInRight;
}

.alert_moda .modal-content {
  border-radius: 20px;
  padding: 20px 5px;
  background: #f6f6f6 !important;
}
.alert_moda .modal-body h4 {
  color: #006cc6;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  width: 130px;
  background: #ffffff;
}
.alert_moda .modal-body .close23 {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -10px;
  right: 5px;
  border: none;
}
.alert_moda .modal-body .close23 i {
  font-size: 30px;
  color: #2196F3;
}
.alert_moda .modal-body .content-info {
  font-size: 15px;
  line-height: 22px;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 20px;
}
.alert_moda .modal-body .bt-content {
  text-align: center;
}
.alert_moda .modal-body .bt-content .bt-modal {
  font-size: 15px;
  color: #ffffff;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 3px;
  width: 140px;
  display: inline-block;
}
.alert_moda .modal-body .bt-content .bt-cancel {
  background-color: #e83e28;
  margin-right: 10px;
}
.alert_moda .modal-body .bt-content .bt-ok {
  background-color: #006cc6;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
.pas {
  padding: 5px;
}

.pam {
  padding: 10px;
}

.pal {
  padding: 20px;
}

.pts {
  padding-top: 5px;
}

.ptm {
  padding-top: 10px;
}

.ptl {
  padding-top: 20px;
}

.prs {
  padding-right: 5px;
}

.prm {
  padding-right: 10px;
}

.prl {
  padding-right: 20px;
}

.pbs {
  padding-bottom: 5px;
}

.pbm {
  padding-bottom: 10px;
}

.pbl {
  padding-bottom: 20px;
}

.pls {
  padding-left: 5px;
}

.plm {
  padding-left: 10px;
}

.pll {
  padding-left: 20px;
}

.phs {
  padding-left: 5px;
  padding-right: 5px;
}

.phe {
  padding-left: 8px;
  padding-right: 8px;
}

.phm {
  padding-left: 10px;
  padding-right: 10px;
}

.phl {
  padding-left: 20px;
  padding-right: 20px;
}

.pvs {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pvm {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pvl {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mas {
  margin: 5px;
}

.mam {
  margin: 10px;
}

.mal {
  margin: 20px;
}

.mts {
  margin-top: 5px;
}

.mtm {
  margin-top: 10px;
}

.mtl {
  margin-top: 20px;
}

.mrs {
  margin-right: 5px;
}

.mrm {
  margin-right: 10px;
}

.mrl {
  margin-right: 20px;
}

.mbs {
  margin-bottom: 5px;
}

.mbm {
  margin-bottom: 10px;
}

.mbc {
  margin-bottom: 15px;
}

.mbsi {
  margin-bottom: 16px;
}

.mbl {
  margin-bottom: 20px;
}

.mls {
  margin-left: 5px;
}

.mlm {
  margin-left: 10px;
}

.mll {
  margin-left: 20px;
}

.mhs {
  margin-left: 5px;
  margin-right: 5px;
}

.mhm {
  margin-left: 10px;
  margin-right: 10px;
}

.mhl {
  margin-left: 20px;
  margin-right: 20px;
}

.mvs {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mvm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mvl {
  margin-top: 20px;
  margin-bottom: 20px;
}

._52lp {
  webkit-font-smoothing: antialiased;
}

._2phz {
  padding: 4px;
}

._2ph- {
  padding: 8px;
}

._2ph_ {
  padding: 12px;
}

._2pi0 {
  padding: 16px;
}

._2pi1 {
  padding: 20px;
}

._2pi2 {
  padding-bottom: 4px;
  padding-top: 4px;
}

._2pi3 {
  padding-bottom: 8px;
  padding-top: 8px;
}

._2pi4 {
  padding-bottom: 12px;
  padding-top: 12px;
}

._2pi5 {
  padding-bottom: 16px;
  padding-top: 16px;
}

._2pi6 {
  padding-bottom: 20px;
  padding-top: 20px;
}

._2pi7 {
  padding-left: 4px;
  padding-right: 4px;
}

._2pi8 {
  padding-left: 8px;
  padding-right: 8px;
}

._2pi9 {
  padding-left: 12px;
  padding-right: 12px;
}

._2pia {
  padding-left: 16px;
  padding-right: 16px;
}

._2pib {
  padding-left: 20px;
  padding-right: 20px;
}

._2pic {
  padding-top: 4px;
}

._2pid {
  padding-top: 8px;
}

._2pie {
  padding-top: 12px;
}

._2pif {
  padding-top: 16px;
}

._2pig {
  padding-top: 20px;
}

._2pih {
  padding-right: 4px;
}

._2pii {
  padding-right: 8px;
}

._2pij {
  padding-right: 12px;
}

._2pik {
  padding-right: 16px;
}

._2pil {
  padding-right: 20px;
}

._2pim {
  padding-bottom: 4px;
}

._2pin {
  padding-bottom: 8px;
}

._2pio {
  padding-bottom: 12px;
}

._2pip {
  padding-bottom: 16px;
}

._2piq {
  padding-bottom: 20px;
}

._2pir {
  padding-left: 4px;
}

._2pis {
  padding-left: 8px;
}

._2pit {
  padding-left: 12px;
}

._2piu {
  padding-left: 16px;
}

._2piv {
  padding-left: 20px;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.eot");
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.eot") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg");
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 0;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 767px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
.relative {
  position: relative;
}

@media (min-width: 992px) {
  .tab {
    display: none;
  }
}
@media (max-width: 768px) {
  .tab {
    display: block !important;
  }
}

#search_form {
  position: relative;
}
#search_form #keyword {
  border-radius: 20px;
  height: 30px;
  padding-right: 60px;
  outline: none;
  background-color: #eeeeee;
  border: none;
  font-family: Roboto;
  padding-left: 15px;
}
#search_form .search2 {
  position: absolute;
  top: 5px;
  right: 12px;
}

.module_home #search_form #keyword {
  border-radius: 20px;
  height: 30px;
  padding-right: 55px;
  outline: none;
  background-color: #eeeeee;
  border: none;
  font-family: Roboto;
  padding-left: 20px;
}
@media (min-width: 1023px) and (max-width: 1199px) {
  .module_home #search_form #keyword {
    font-size: 13px;
  }
}

@media all and (min-width: 1023px) {
  .collapse {
    display: block !important;
  }
}
.module_home .wpb_wrapper {
  text-align: center;
}
.module_home .wpb_wrapper h2 {
  margin-top: 40px;
}
@media all and (max-width: 767px) {
  .module_home .wpb_wrapper h2 {
    line-height: 0.9;
  }
}
.module_home .wpb_wrapper h2 span {
  font-size: 33px;
  color: #ffffff;
  text-transform: uppercase;
}
@media all and (max-width: 767px) {
  .module_home .wpb_wrapper h2 span {
    font-size: 22px;
    line-height: unset;
  }
}
.module_home .wpb_wrapper h3 {
  margin-top: 5px;
  font-size: 16px;
  color: #ffffff;
}
@media all and (max-width: 767px) {
  .module_home .wpb_wrapper h3 {
    padding: 0;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .module_home .vc_empty_space {
    display: none;
  }
}
.flr {
  float: right;
}

.bg input {
  background: #eeeeee url("../img/logos/search.png") right 15px top 7px no-repeat;
  padding: 5px 65px 5px 10px;
  color: #777777;
  font-size: 14px;
  border-radius: 15px;
  border: none;
  margin-top: 8px;
  outline: none;
}

.breadcrum {
  color: #40b5e6;
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

section .body .cc {
  margin: 0px;
  font-size: 14px;
  color: #777777;
}

.abc {
  display: none;
  padding-left: 20px;
}

#boder {
  position: relative;
}

.bot {
  height: 2px;
  width: 100%;
  background-color: #40b5e6;
  margin-top: -15px;
  position: fixed;
  z-index: 1;
}
@media all and (max-width: 768px) {
  .bot {
    margin-top: -25px;
  }
}

.headerbotom {
  position: fixed;
  z-index: 1;
  top: 70px;
}
@media (max-width: 1199px) and (min-width: 1023px) {
  .headerbotom img {
    width: 71%;
  }
}

.manu .dropdown-menu {
  background-color: #ffffff;
  font-size: 14px;
  color: #333333;
  position: absolute;
  top: 100%;
  left: 10px;
}
.manu .dropdown-menu .dropdown-submenu {
  background-color: #ffffff;
}
.manu .dropdown-menu .dropdown-submenu a {
  font-size: 14px;
  color: #333333;
}
.manu .dropdown-menu .dropdown-submenu:hover {
  background-color: #ffffff;
}
.manu .dropdown-menu .dropdown-submenu:hover a {
  color: #01a6e6;
}

.scrollToTop {
  display: none;
  position: fixed;
  bottom: -60px;
  right: 20px;
  width: 60px;
  height: 54px;
  background: url("../images/to-top.png") no-repeat center;
  cursor: pointer;
  z-index: 99999;
  transition: all 0.8s ease;
  background-position: 15px -1px;
}

.scrollToTop.active {
  bottom: 200px;
}
@media all and (max-width: 767px) {
  .scrollToTop.active {
    bottom: 0;
  }
}

.module_contents .bg_home, .module_products .bg_home, .module_services .bg_home, .module_news .bg_home, .module_contact .bg_home, .module_images .bg_home, .module_search .bg_home {
  display: none;
}
.module_contents .affix, .module_products .affix, .module_services .affix, .module_news .affix, .module_contact .affix, .module_images .affix, .module_search .affix {
  background-color: white;
  z-index: 999999;
  box-shadow: 0 2px 4px 0 transparent, 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  transition: all 0.25s ease-in-out;
}
.module_contents .affix .navtotal, .module_products .affix .navtotal, .module_services .affix .navtotal, .module_news .affix .navtotal, .module_contact .affix .navtotal, .module_images .affix .navtotal, .module_search .affix .navtotal {
  max-height: 52px !important;
}
.module_contents .affix .navtotal .logo, .module_products .affix .navtotal .logo, .module_services .affix .navtotal .logo, .module_news .affix .navtotal .logo, .module_contact .affix .navtotal .logo, .module_images .affix .navtotal .logo, .module_search .affix .navtotal .logo {
  padding: 5px 0 5px !important;
  width: 85%;
  transition: 0.8s;
}
.module_contents .affix .navtotal .manu, .module_products .affix .navtotal .manu, .module_services .affix .navtotal .manu, .module_news .affix .navtotal .manu, .module_contact .affix .navtotal .manu, .module_images .affix .navtotal .manu, .module_search .affix .navtotal .manu {
  padding: 15px 0 13px 60px !important;
  transition: 0.8s;
}
@media all and (max-width: 767px) {
  .module_contents .affix .navtotal .pd, .module_products .affix .navtotal .pd, .module_services .affix .navtotal .pd, .module_news .affix .navtotal .pd, .module_contact .affix .navtotal .pd, .module_images .affix .navtotal .pd, .module_search .affix .navtotal .pd {
    padding-top: 8px !important;
    transition: 0.8s;
  }
}
.module_contents .affix .navtotal .timkiem, .module_products .affix .navtotal .timkiem, .module_services .affix .navtotal .timkiem, .module_news .affix .navtotal .timkiem, .module_contact .affix .navtotal .timkiem, .module_images .affix .navtotal .timkiem, .module_search .affix .navtotal .timkiem {
  margin-top: 12px !important;
}
@media all and (max-width: 767px) {
  .module_contents .affix .navtotal .timkiem, .module_products .affix .navtotal .timkiem, .module_services .affix .navtotal .timkiem, .module_news .affix .navtotal .timkiem, .module_contact .affix .navtotal .timkiem, .module_images .affix .navtotal .timkiem, .module_search .affix .navtotal .timkiem {
    display: none !important;
  }
}
@media all and (max-width: 767px) {
  .module_contents .content, .module_products .content, .module_services .content, .module_news .content, .module_contact .content, .module_images .content, .module_search .content {
    margin-top: 0 !important;
  }
}
.module_contents .pd, .module_products .pd, .module_services .pd, .module_news .pd, .module_contact .pd, .module_images .pd, .module_search .pd {
  padding: 11px 5px 0 0;
  float: right;
  width: 8%;
  border-left: 1px solid #40b5e6;
  height: 60px;
}
.module_contents .pd .header_menu, .module_products .pd .header_menu, .module_services .pd .header_menu, .module_news .pd .header_menu, .module_contact .pd .header_menu, .module_images .pd .header_menu, .module_search .pd .header_menu {
  text-align: right;
  margin-right: 0 !important;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  line-height: 40px;
  box-sizing: border-box;
  width: auto;
  height: 40px;
}
.module_contents .pd .header_menu a, .module_products .pd .header_menu a, .module_services .pd .header_menu a, .module_news .pd .header_menu a, .module_contact .pd .header_menu a, .module_images .pd .header_menu a, .module_search .pd .header_menu a {
  display: inline-block;
  background: unset;
  height: 37px;
  width: 30px;
  color: #40b5e6;
  font-size: 22px;
  cursor: pointer;
}
.module_contents .pd .header_menu a i, .module_products .pd .header_menu a i, .module_services .pd .header_menu a i, .module_news .pd .header_menu a i, .module_contact .pd .header_menu a i, .module_images .pd .header_menu a i, .module_search .pd .header_menu a i {
  margin: 5px;
}

.module_home .affix {
  background-color: rgba(42, 174, 228, 0.8117647059);
  z-index: 999999;
  width: 100%;
  box-shadow: 0 2px 4px 0 transparent, 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  transition: all 0.25s ease-in-out;
}
.module_home .affix .navtotal {
  max-height: 52px !important;
}
.module_home .affix .navtotal .logo {
  padding: 5px 0 5px !important;
  width: 85%;
  transition: 0.8s;
}
@media all and (max-width: 767px) {
  .module_home .affix .navtotal .pd {
    padding-top: 8px !important;
    transition: 0.8s;
  }
}
.module_home .affix .navtotal .manu {
  padding: 15px 0 13px 60px !important;
  transition: 0.8s;
}
.module_home .affix .navtotal .timkiem {
  margin-top: 12px !important;
}
@media all and (max-width: 767px) {
  .module_home .affix .navtotal .timkiem {
    display: none !important;
  }
}

.manu > ul > li > a {
  text-transform: capitalize;
  color: #333333;
  font-size: 18px;
  text-decoration: none;
}

.manu > ul > li > a:hover {
  color: #01a6e6;
}

#navmenu {
  margin: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  max-height: 70px;
}
@media all and (max-width: 767px) {
  #navmenu {
    max-height: 100%;
  }
}

.cleafix {
  overflow: hidden;
  clear: both;
}

#navmenu .logo {
  float: left;
  padding: 6px 0;
  max-width: 150px;
}
@media (max-width: 1199px) and (min-width: 1023px) {
  #navmenu .logo {
    width: 90%;
  }
}

.module_home #navmenu {
  background-color: #27ade4;
  box-shadow: 0px -7px 30px #888888;
}

.module_home .nav-main .menu_hed .nav .nav-item .nav-link {
  color: #fff;
}
.module_home .nav-main .menu_hed .nav .nav-item .nav-link:hover {
  color: #fff;
}

.manu > ul {
  float: left;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 30px;
}

.manu {
  padding: 20px 0;
  width: auto;
  display: inline-block;
  padding-left: 15px !important;
}
@media (max-width: 1199px) and (min-width: 1023px) {
  .manu {
    width: auto !important;
    padding-left: 25px;
  }
}

.manu > ul > li {
  float: left;
  list-style: none;
  margin: 5px;
  padding: 5px 15px;
}

.module_home .manu {
  padding-left: 75px;
}
@media (max-width: 1199px) and (min-width: 1023px) {
  .module_home .manu {
    padding-left: 18px;
    width: auto !important;
  }
}

.flr1 {
  position: absolute;
  top: 20px;
  right: 0;
}
@media (max-width: 768px) {
  .flr1 {
    right: 12%;
  }
}

.module_home .pd {
  padding: 11px 5px 0 0;
  float: right;
  width: 8%;
  border-left: 1px solid #fff;
  height: 60px;
}
.module_home .pd .header_menu {
  text-align: right;
  margin-right: 0 !important;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  line-height: 40px;
  box-sizing: border-box;
  width: auto;
  height: 40px;
}
.module_home .pd .header_menu a {
  display: inline-block;
  background: unset;
  height: 37px;
  width: 30px;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}
.module_home .pd .header_menu a i {
  margin: 5px;
}

.search_mobile {
  display: none;
}

.language {
  display: inline-block;
}

#navmenu .timkiem {
  float: right;
  margin-top: 20px;
  display: inline-block;
  position: absolute;
  right: 3%;
}
#navmenu .timkiem a {
  display: block;
}

.imgcc {
  margin-left: 5px;
  margin-top: 6px;
}

.lang {
  display: none;
}

.footer .total {
  padding-top: 35px;
}
@media all and (max-width: 768px) {
  .footer .total {
    padding-top: 25px;
  }
}

.footer .congtycic > p {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.footer .text8 {
  margin-top: 35px;
}

.footer {
  clear: both;
  overflow: auto;
  margin-top: 40px;
}

.messenger {
  position: fixed;
  bottom: 200px;
  left: 10px;
}
.messenger img {
  width: 70%;
}

.thongtin {
  display: inline-block;
}
.thongtin .name {
  font-size: 20px;
  text-transform: uppercase;
}

.rightfooter {
  width: 50%;
  float: right;
}

.menufooter {
  width: 50%;
  float: left;
}

.menufooter ul li a {
  text-transform: capitalize;
  color: #00a7e6;
  font-size: 14px;
  text-decoration: none;
}

.menufooter ul li {
  list-style: none;
  margin: 10px 0;
}

.menufooter .name {
  font-size: 20px;
  padding-left: 30px;
  margin-bottom: 0px;
  margin-top: -5px;
}

.facebook .name {
  font-size: 20px;
  margin-top: -5px;
}

.menufooter ul {
  padding-left: 30px;
}

.menufooter ul li a:hover {
  color: black;
}

.image {
  margin: 2px 0px;
}

.back {
  padding-left: 10px;
  background: url("../img/logos/a5.png") left 0px top 5px no-repeat;
}

.facebook {
  width: 50%;
  float: left;
}

.facebook div img {
  margin-top: 23px;
}

#footerbottom {
  clear: both;
  background: #f4f4f4 url("/img/logos/a6.png") no-repeat center;
  display: block;
  padding-top: 49px;
}

.contenttt {
  margin-top: 85px;
}

.a {
  display: inline-block;
  float: left;
  font-size: 15px;
  color: #ffffff;
  margin-top: 10px;
}

.b {
  display: inline-block;
  padding-left: 10px;
  padding-top: 4px;
}

#myCarousel {
  margin-top: 70px;
}

@media all and (max-width: 1024px) {
  .manu {
    width: 50%;
  }
  #navmenu ul li a {
    font-size: 14px;
  }
  #footerbottom {
    background: #f4f4f4 url(/img/logos/a6.png) right -115px top 3px no-repeat;
  }
}
@media all and (max-width: 768px) {
  .search_mobile {
    display: inline-block;
    position: absolute;
    top: 35%;
    right: 18%;
  }
  .search_mobile .searchh {
    padding: 10px;
  }
  .search_mobile .searchh i {
    font-size: 20px;
    color: white;
  }
  #myCarousel {
    margin-top: 60px;
  }
  #boder {
    max-height: 100%;
  }
  .content {
    margin-top: 30px;
  }
  .content .text2 .itemtd {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.18) !important;
    background-image: none !important;
  }
  .text1 > .container > p {
    font-size: 25px !important;
  }
  .text3_left > h2 {
    font-size: 25px !important;
  }
  .content > .text4 > .container > p {
    font-size: 25px !important;
  }
  .content > .text6 > .container > .tintuc > p {
    font-size: 25px !important;
  }
  .content > #maud > .container > div > p {
    font-size: 25px !important;
  }
  .text5 .owl-nav {
    position: absolute;
    top: 20% !important;
    left: 0;
    right: 0;
  }
  .text5 .owl-nav .owl-next {
    right: 0px !important;
  }
  .text5 .owl-nav .owl-prev {
    left: -23px !important;
  }
  .text7 .owl-nav {
    position: absolute;
    top: 4% !important;
    left: 0;
    right: 0;
  }
  .text7 .partner .owl-next {
    top: 4% !important;
    right: -11px !important;
  }
  .text7 .owl-nav .owl-prev {
    top: 4% !important;
    left: -35px !important;
  }
  .container {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
  }
  .navtotal {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  #navmenu .timkiem {
    float: none;
    margin-top: 0;
    width: 100%;
    right: 0;
    position: absolute;
    top: 90%;
    background-color: #eee;
  }
}
@media (max-width: 768px) and (max-width: 768px) and (min-width: 500px) {
  #navmenu .timkiem {
    width: 50%;
  }
}
@media all and (max-width: 768px) {
  #navmenu .manu {
    display: none;
  }
  .logo {
    width: auto !important;
    height: 65px;
  }
  .logo2 {
    width: auto;
  }
  #navmenu {
    margin: 0px;
    height: 60px;
  }
  .manu {
    width: 100%;
    padding: 1px 10px;
  }
  #navmenu .manu ul {
    width: 100%;
    padding: 5px;
    margin: 5px 0 0 0;
  }
  #navmenu .manu ul li {
    margin: 1px;
    padding: 5px;
  }
  .timkiem input {
    padding: 3px 6px;
    font-size: 12px;
    border-radius: unset !important;
    margin-top: 0px;
    width: 100%;
    border: 1px solid #ccc !important;
    background: #eeeeee url(../image/search.png) right 5px top 2px no-repeat;
    background-color: #ffffff !important;
  }
  .timkiem .flr {
    float: none;
  }
  .timkiem .flr #search_form {
    position: relative;
  }
  .timkiem .flr #search_form input {
    width: 100%;
    border-radius: unset;
  }
  .timkiem .flr #search_form .search2 {
    position: absolute;
    top: 5px;
    right: 8px;
  }
  .timkiem .fll {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
  }
  .timkiem .flr1 {
    float: right;
    position: absolute;
    top: 4px;
    right: -42px;
  }
  #navmenu .mkdf-row-grid-section-wrapper .mkdf-row-grid-section {
    width: auto !important;
  }
  .mkdf-btn-solid {
    margin: 0 !important;
    padding: 0 15px 0 15px !important;
    background-image: none !important;
  }
  .mkdf-btn-solid .mkdf-btn-text {
    font-size: 13px !important;
  }
  .libraries-carousel {
    margin-left: 16px !important;
  }
  .imgcc {
    margin-top: 2px;
    display: none;
  }
  .lang {
    display: block;
    font-size: 17px;
    color: #fff;
    margin: 0;
  }
  .headerbotom {
    width: 100%;
    top: 62px;
  }
  #anh {
    width: 35%;
    font-size: 100%;
    display: block;
    height: 15px;
  }
  section .breadcrum {
    font-size: 28px;
    padding: 0 0 10px 0px;
    margin-top: 0;
    margin-bottom: 0;
  }
  section .body .cc {
    margin: 0 0 0 10px;
    font-size: 14px;
    color: #777777;
  }
  .menufooter ul {
    padding-left: 0;
  }
  .thongtin {
    width: 100%;
    margin: 0;
  }
  .thongtin .name {
    font-size: 16px;
  }
  .total {
    margin: 0 5px;
  }
  .messenger .messenger1 img {
    height: 50px;
  }
  .footer {
    overflow: auto;
    margin-top: 10px;
  }
  .contact p {
    margin: 0;
  }
  .menufooter .name {
    font-size: 15px;
    padding-left: 0px;
    clear: both;
    padding-top: 15px;
  }
  .rightfooter {
    width: 100%;
  }
  .menufooter {
    width: 100%;
    float: none;
  }
  .facebook .name {
    font-size: 15px;
    padding-left: 0px;
    clear: both;
    padding-top: 10px;
  }
  .facebook {
    width: 100%;
    float: none;
    padding-left: 0px;
  }
  #footerbottom {
    display: block;
    padding-top: 0;
    background: #00a7e6;
  }
  .bb {
    padding-left: 135px;
  }
  .a {
    margin-left: 8px;
    margin-bottom: 10px;
  }
  .footer .text9 {
    background-color: #2aaee4 !important;
    padding-top: 20px !important;
    background-image: none !important;
  }
  .footer .text9 .icon10 {
    display: block;
    text-align: center;
  }
  .footer .text9 .icon10 a {
    margin-left: 0;
  }
}
.label_error {
  font-size: 14px;
  color: red;
  margin-top: 2px;
}

.module_home .bg_home {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  max-height: 100%;
}
@media (max-width: 768px) {
  .module_home .bg_home {
    display: none;
  }
}

#boder .affix-top {
  position: relative;
}

.title_comp {
  display: none !important;
}

@media (max-width: 768px) {
  .mm-wrapper_opened .module_home #navmenu {
    top: -60px;
  }
}
@media (max-width: 768px) {
  .module_contents .search_mobile .searchh i, .module_products .search_mobile .searchh i, .module_services .search_mobile .searchh i, .module_news .search_mobile .searchh i, .module_contact .search_mobile .searchh i, .module_images .search_mobile .searchh i, .module_search .search_mobile .searchh i {
    color: #40b5e6;
  }
  .module_contents .flr1 a .lang, .module_products .flr1 a .lang, .module_services .flr1 a .lang, .module_news .flr1 a .lang, .module_contact .flr1 a .lang, .module_images .flr1 a .lang, .module_search .flr1 a .lang {
    color: #40b5e6;
  }
  .module_contents .timkiem, .module_products .timkiem, .module_services .timkiem, .module_news .timkiem, .module_contact .timkiem, .module_images .timkiem, .module_search .timkiem {
    top: 93% !important;
  }
}/*# sourceMappingURL=style.css.map */